.container-formulario{
    min-width: 90%;
}

.formulario{
    display: flex;
    flex-flow: row;
}

.container-tabla-productos{
    min-width: fit-content;
    margin-right: 250px;
}

.container-tabla-productos, .container-detalle{
    text-align: center;
}

.container-formulario-encabezado{
    align-items:   left;
    text-align: left;
    height: 15%;
}
table{
    background-color: white;
    margin-top: 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 0.5px solid #009a87;
    font-size: 18px;
    cursor: default;
}

th{
    border-top: 2px solid #009a87;
    border-bottom: 2px solid #009a87;
    padding: 10px;
    background-color: antiquewhite;
}

td{
    border-bottom: 1px solid #009a87;
    padding: 10px;
}

td a {
    color: #009a87;
    font-weight: 600;
    text-decoration: none;
}

td a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}

tr:hover td{
    background-color: #f68a53;
    color: white;
}

tr:hover a{
    color:white;
}