<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Modificar Subcategoría</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/formularios.css" />
</head>

<body>
    <header th:replace="plantilla/plantilla::barra-navegacion"></header>

    <div class="container-formulario">
        <h1 th:replace="plantilla/plantilla::titulo-formulario"></h1>
        <div class="formulario">

            <form th:object="${SubCategorias}" th:action="@{/EditarSubCategoria}" method="POST">

                <input type="hidden" th:field="*{Id_Categoria}">

                <input type="text" class="form-control rounded-3" id="floatingInput" th:field="*{Nombre}"
                    placeholder="Nombre de la subcategoría" required>

                <select th:field="*{Categoria_Madre_Id}" class="desplegable" id="Id_Categoria">
                    <option th:each="x:${Categorias}" th:value="${x.getId_Categoria}" th:text="${x.getNombre}">
                </select>

                <div class="botones">
                    <button type="submit" class="btn-agregar" name="btn-agregar" th:text="${boton}"></button>
                    <a href="javascript: history.go(-1)">
                        <button type="button" class="btn-cancelar" name="btn-cancelar">Volver atrás</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>