<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css"/>
</head>

<body>
    <header th:fragment="barra-navegacion">
        <meta charset="UTF-8">
        <div class="container">
            <div class="navbar">
                <nav>
                    <div class="menu">
                        <ul class="opciones">
                            <li>
                                Gestión de inventario
                                <div>
                                    <ul class="opciones-inventario">
                                        <li><a href="/listacategorias">Categorias</a></li>
                                        <li><a href="/listasubcategorias">Subcategorias</a></li>
                                        <li><a href="/listamarcas">Marcas</a></li>
                                        <li><a href="/url">Unidades</a></li>
                                        <li><a href="/listaproductos">Productos</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="logo-container">
                            <a href="home"><img src="imagenes/logo.png" alt="LOGO"></a>
                        </div>
                        <ul class="opciones">
                            <li>
                                Gestión de sistema
                                <div>
                                    <ul class="opciones-sistema">
                                        <li><a href="/tpPersonaLista">Tipos de persona</a></li>
                                        <li><a href="/listaroles">Roles</a></li>
                                        <li><a href="/listaestados">Estados de Persona</a></li>
                                        <li><a href="/personaLista">Personas</a></li>
                                        <li><a href="/url">Usuarios</a></li>
                                        <li><a href="/listatventas">Tipos de venta</a></li>
                                        <li><a href="/listampagos">Medios de pago</a></li>
                                        <li><a href="/url">Facturas</a></li>
                                        <li><a href="/getDetalles">Detalles factura</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div> <!-- div navbar -->
        </div> <!-- div container 1 -->

    </header>

    <h1 th:fragment="titulo-tabla" th:text=" 'Estás viendo la tabla: ' + ${titulo}"></h1>

    <h1 th:fragment="titulo-formulario"
        th:text=" 'Estás ' + ${accion} + ' un elemento ' + ${prefijo} + ' la tabla: ' + ${titulo}"></h1>

</body>

</html>